@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6D31ED;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", Helvetica, sans-serif;
}


/* Targeting the scrollbar */
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styling the scrollbar track (background) */
*::-webkit-scrollbar-track {
  background: transparent; /* Making the track transparent */
}

/* Styling the scrollbar thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Primary color (or whatever your "bg-primary" is) */
  border-radius: 9999px; /* Fully rounded corners like a pill shape */
}

/* Adding a hover effect */
*::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Darker blue when hovered */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
